.user-tasks-container {
  padding: 16px;
}

h2 {
  margin-bottom: 16px;
}

table {
  width: 100%;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.no-data-message {
  text-align: center;
  padding: 40px 0;
  color: rgba(0, 0, 0, 0.54);
  
  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin-bottom: 16px;
  }
}

.status-select {
  width: 150px;
  margin: -16px 0;
}